<div *ngIf="cars">
  <h1>Cars list</h1>
  <div>
    Search: <input type="text" name="searchText" [(ngModel)]="searchText">
    <button (click)="search()">Search</button>
  </div>
  <div *ngFor="let car of cars" style="margin-bottom: 15px">
    {{car.make}}
    <img style="width: 150px" src="{{car.image}}">
    <a routerLink="/cars/details/{{car.id}}"> Details </a>
  </div>
  <button [disabled]="page === 1" (click)="showPrevPage()">Prev Page</button>
  <button [disabled]="cars.length === 0 || cars.length < 10" (click)="showNextPage()">Next Page</button>
</div>
